vfd.xsd


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vfd">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="veterinarian">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="apt"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="state"/>
              <xs:element type="xs:string" name="postalCode"/>
              <xs:element type="xs:string" name="county"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="fax"/>
              <xs:element type="xs:dateTime" name="signatureDate"/>
              <xs:element type="xs:string" name="signatureImage"/>
              <xs:element type="xs:string" name="signatureImageType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="client">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="apt"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="state"/>
              <xs:element type="xs:string" name="postalCode"/>
              <xs:element type="xs:string" name="county"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="fax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="premise">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="apt"/>
              <xs:element type="xs:string" name="city"/>
              <xs:element type="xs:string" name="state"/>
              <xs:element type="xs:string" name="postalCode"/>
              <xs:element type="xs:string" name="county"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="fax"/>
              <xs:element type="xs:string" name="description"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="issuanceDate"/>
        <xs:element type="xs:dateTime" name="expirationDate"/>
        <xs:element type="xs:string" name="drugNames"/>
        <xs:element type="xs:string" name="species"/>
        <xs:element type="xs:long" name="animalCount"/>
        <xs:element type="xs:string" name="ageRange"/>
        <xs:element type="xs:string" name="weightRangeLbs"/>
        <xs:element type="xs:string" name="indication"/>
        <xs:element type="xs:string" name="drugLevel"/>
        <xs:element type="xs:string" name="instructions"/>
        <xs:element type="xs:long" name="reorders"/>
        <xs:element type="xs:string" name="statement"/>
        <xs:element type="xs:string" name="notes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
